<main class="main-content">
  <div class="container" ng-show="!messages.success">
    <form name="orderForm" ng-submit="orderForm.$valid && createOrder()" novalidate>
      <h3 class="h2 text-center fwb mb-5">Chỉ 2 bước là xong. Chúng tôi quý trọng thời gian của bạn.</h3>
      <div ng-if="messages.error" role="alert" class="text-danger mb-3 text-center">
          <div ng-repeat="error in messages.error"><h2>{{error.msg}}</h2></div>
       </div>
      <div class="row justify-content-center ">
        <div class="col-5 col-xs-12">
          <div class="form mb-3">
            <div ng-if="!user">
              <div class="h5">1. THÔNG TIN GIAO HÀNG</div>
              <div class="form-check check-style">
                <div class="check-style-item d-inline-block mr-4">
                  <label class="form-check-label">
                    <input type="radio" id="gender" name="gender" ng-model="newUser.gender" value="male" class="form-check-input">
                    <span class="form-check-style"></span>
                  </label>
                  Anh
                </div>
                <div class="check-style-item d-inline-block">
                  <label class="form-check-label">
                    <input type="radio" id="gender" name="gender" ng-model="newUser.gender" value="female" class="form-check-input">
                    <span class="form-check-style"></span>
                  </label>
                  Chị
                </div>
              </div>
              <div class="form-group">
                <input type="text" id="name" name="name" ng-model="newUser.name" placeholder="Họ và tên" class="form-control" required>
                <span ng-show="orderForm.$submitted && orderForm.name.$invalid" class="error-message">Bạn phải nhập đủ họ tên</span>
              </div>
              <div class="form-group">
                <input type="text" name="phone_number" id="phone_number" ng-model="newUser.phone_number" ng-blur="checkUserIdentity('phone')"
                ng-minlength="10" ng-maxlength="11" placeholder="Số điện thoại" class="form-control" required>
                <div ng-show="orderForm.$submitted || orderForm.phone_number.$touched">
                  <span ng-show="orderForm.phone_number.$error.required" class="error-message">Bạn phải nhập số điện thoại</span>
                  <span ng-show="((orderForm.phone_number.$error.minlength || orderForm.phone_number.$error.maxlength) && orderForm.phone_number.$dirty)" class="error-message">Số điện thoại phải từ 10 số</span>
                  <span ng-show="phoneExisted" class="error-message">Số điện thoại này đã tồn tại</span>
                </div>
              </div>
              <div class="form-group">
                <input type="email" name="email" id="email" ng-model="newUser.email" placeholder="Email" class="form-control" ng-blur="checkUserIdentity('email')" required>
                <div ng-show="orderForm.$submitted || orderForm.email.$touched">
                  <span ng-show="orderForm.email.$error.required" class="error-message">Bạn phải nhập email.</span>
                  <span ng-show="orderForm.email.$error.email" class="error-message">Email không đúng định dạng.</span>
                  <span ng-show="emailExisted" class="error-message">Email này đã tồn tại</span>
                </div>
              </div>
              <div class="form-group mb-2">
                <input type="password" name="password" id="password" ng-model="newUser.password" placeholder="Mật khẩu với ít nhất 6 ký tự" class="form-control" required>
                <span ng-show="orderForm.password.$touched && orderForm.password.$invalid" class="error-message">Bạn phải nhập mật khẩu</span>
              </div>
              <p class="p mb-0 fz12">Hãy ghi nhớ mật khẩu để thuận tiện cho lần đăng nhập sau</p>
            </div>
            <div ng-if="user">
              <div class="h5">1. THÔNG TIN GIAO HÀNG</div>
              <p> Họ tên:
                <span>{{ user.name }}</span>
              </p>
              <p> Email:
                <span>{{ user.email }}</span>
              </p>
              <p> Mobile:
                <span>{{ user.phone_number }}</span>
              </p>
            </div>
          </div>
          <div class="form mb-3">
            <div class="h5">2. ĐỊA CHỈ VÀ THỜI GIAN GIAO HÀNG</div>
            <div class="form-row">
              <div class="col form-group">
                <div class="select-style">
                  <select name="city" id="city" ng-model="selectedCity" ng-options="city.name for city in cities" ng-change="getDistricts(selectedCity)"
                    class="form-control">
                  </select>
                </div>
              </div>
              <div class="col form-group">
                <div class="select-style">
                  <select name="district" id="district" ng-model="selectedDistrict" ng-options="district.name for district in districts" class="form-control">
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" id="orderAddress" name="orderAddress" ng-model="orderAddress" placeholder="Số nhà, tên đường, phường/xã"
                class="form-control" required>
              <span ng-show="orderForm.$submitted && orderForm.orderAddress.$invalid" class="error-message">Bạn phải nhập địa chỉ nhận hàng</span>
            </div>
            <div class="form-group mb-2">
              <textarea name="orderNote" id="orderNote" ng-model="orderNote" rows="2" class="form-control"  placeholder="Ghi chú thêm (Không bắt buộc)"></textarea>
            </div>
            <p class="p fz12">Vui lòng kiểm tra kỹ thông tin trước khi đặt dùng thử.</p>
          </div>
        </div>
        <div class="col-5 col-xs-12">
          <div class="form form-order mb-3">
            <div class="h5">GIAO HÔM NAY</div>
            <table class='table'>
              <thead>
                <tr>
                  <th class='align-middle border-top-0 border border-right-0 border-left-0'>
                    <img class="checkout-img" src="images/checkout-product.jpg" alt="">
                    <span>Sản phẩm mẫu 3ml</span>
                  </th>
                  <th class='align-middle border-top-0 border border-right-0 border-left-0'>
                    <span>Miễn phí</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='border-0'>Tạm tính:</td>
                  <td class='border-0'>Miễn phí</td>
                </tr>
                <tr>
                  <td class='border-0'>Phí vận chuyển:</td>
                  <td class='border-0'>20.000 đ</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th class="fz20">Trả hôm nay:</th>
                  <th class="fz20">20.000 đ</th>
                </tr>
              </tfoot>
            </table>
            <button type="submit" ng-disabled="inProcessing" class="form-btn btn btn-primary btn-lg btn-block">Đặt dùng thử</button>
            <p class="p mt-3 mb-3 fz12">Vui lòng thanh toán cho nhân viên giao hàng khi nhận </p>
          </div>
          <div class="form mb-3">
            <div class="h5">GIAO VÀ THU TIỀN NGÀY 11/10</div>
            <table class="table">
              <thead>
                <tr>
                  <th class='align-middle border-0 fw-nomal'>
                    <img class="checkout-img" src="images/checkout-product.jpg" alt="">
                    <span>Sản phẩm tiêu chuẩn 10ml</span>
                  </th>
                  <th class='align-middle border-0 fw-nomal'>
                    <span>Miễn phí</span>
                  </th>
                </tr>
              </thead>
            </table>
            <p class="mb-0 fz12">Hãy yên tâm! Chúng tôi sẽ liên hệ nhắc nhở trước khi giao sản phẩm tiêu chuẩn, bạn có thể quyết đinh không mua
              với bất kỳ lý do gì.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div ng-show="messages.success" role="alert" class="text-success text-center">
      <div ng-repeat="success in messages.success">
        <h1>{{success.msg}}</h1>
      </div>
  </div>
</main>
<footer class="footer pt-3">
  <div class="footer-content">
    <div class="row align-items-center">
      <p class='col'>
        <small>© 2017.
          <b>vitaminshair</b> là nhãn hiệu đã được bảo hộ của Công ty Cổ Phần Tinh Dầu Thiên Nhiên Hà Nội.
          <br/>Giấy chứng nhận Đăng ký Kinh doanh số 0107407609 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp.
        </small>
      </p>
      <p class='col text-right'>Hỗ trợ khách hàng:
        <a class="color-green" href="tel:0868855086">086.88.55.086</a> (
        <b>8-18h</b> từ
        <b>Thứ 2-Thứ 7</b>)</p>
    </div>
  </div>
</footer>
