<main class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-5">
        <div class="text-center">
          <h3 class="h2 text-center fwb mb-5">Khách hàng mới</h3>
          <p class='p mb-5'>Bạn sẽ đăng ký ở trang sau</p>
          <div>
            <a href="/order">Tiến hành đặt hàng ></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 has-border">
        <h3 class="h2 text-center fwb mb-2">Đăng nhập</h3>
        <div class="row justify-content-center">
          <div class="col-4 width395">
            <div class="form-group">
              <input type="text" placeholder="Email hoặc số điện thoại" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Mật khẩu" class="form-control">
            </div>
            <div class="form-group">
              <button class="form-btn btn btn-primary btn-lg btn-block">Tiếp tục ></button>
            </div>
            <div class="text-center">
              <a href="/forgot">Quên mật khẩu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
