<main class="main-content">
  <div class="cbontainer">
    <h3 class="h2 text-center fwb mb-2">Đăng ký tài khoản</h3>
    <div class="row justify-content-center">
      <div class="col-4 width395 p-0">
        <div ng-if="messages.error" role="alert" class="text-danger mb-3">
          <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>
        <form ng-submit="signup()">
          <div class="form-group">
            <input type="text" name="name" id="name" placeholder="Họ tên" ng-model="user.name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" id="email" ng-model="user.email" autofocus placeholder="Email hoặc số điện thoại" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" ng-model="user.password" placeholder="Mật khẩu" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone_number" id="phone_number" placeholder="Số điện thoại" ng-model="user.phone_number" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="form-btn btn btn-primary btn-lg btn-block">Đăng ký</button>
          </div>
          <div class="text-center">
            Already have an account?
            <a href="/login">Đăng nhập</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>





<!-- <div class="container">
  <div ng-if="messages.error" role="alert" class="btext-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>

  <h4>Create an account</h4>

  <form ng-submit="signup()">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" ng-model="user.name">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" ng-model="user.email" autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password">
    <label for="name">Phone number</label>
    <input type="text" name="phone_number" id="phone_number" placeholder="Phone" ng-model="user.phone_number">
    <p>By signing up, you agree to the <a href="#">Terms of Service</a>.</p>
    <button type="submit">Create an account</button>
  </form>

  <hr>

  <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
  <br>
  <button ng-click="authenticate('google')">Sign in with Google</button>
  <br>

  <p>Already have an account? <a href="/login">Log in</a></p>
</div> -->
